@import "../../styles/colors";
@import "../../styles/breakpoints";

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.wrapperFlex {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.accountText {
  margin: 0 0 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address {
  padding: 1px 2px;
  background-color: $main-black;
  color: #fff;

}

.compactText {
  margin: 0;
}

.darkText {
  color: $main-black;
}

.card {
  box-shadow: 0 0 3px rgb(4 25 39 / 15%);
  padding: 16px;
  border-radius: 5px;
}

.nexoContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nexoData {
  margin: 24px 24px 24px 0;
}

.title {
  font-weight: bold;
  margin: 0;
}

.nexoBalanceValue {
  margin: 8px 0 0;
  font-weight: bold;
  color: #60BEFF;
}

.otherTokens {
  margin: 48px 0;
}

.tokensList {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 12px;

  @include breakpoint(small-screen) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint(big-mobile) {
    grid-template-columns: 1fr;
  }
}

.tokenCard {
  @extend .card;
}

.tokenCardBalance {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
