.navigation {
  height: 90px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
}
